# Dependencies
node_modules/

# Test results
test-results/

# Allure
allure-report/
allure-results/

# Playwright default report
playwright-report/

# Logs
*.log

# Coverage
coverage/

# Env files
.env